body{
    margin: 0;
    padding: 0;
}

.image-header{
        height: 100vh;
        min-height: 530px;
        background-image: url('https://images.unsplash.com/photo-1658085190746-8e78c0c15e7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI5fHhqUFI0aGxrQkdBfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

.categories-section{
    background-color: rgb(253, 169, 133);
}

.card-img-top{
    width: 100%;
    height: auto;
    object-fit: fill;
}

.btn{
    background-color: orangered !important;
}

.card:hover{
    transform: scale(1.05);
}

.card:hover .image {
    opacity: 0.3;
}

.card:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: black;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15rem;
}